html {
}


body {
	color: #000000;/*A cor da letra*/
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;/*A LETRA*/
	margin-left: auto;/*A MARGEM*/
	margin-right: auto/*A MARGEM*/
	width: 940px;/*A RESOLUÇÃO*/
	

 }


h1{
	color: #000000;/*A letra do h1*/
}



.container{/* deixa a pagina mais flexivel nos celulares */
		width: 100%;
}
	

.jumbotron jumbotron-fluid{ /*O cabelçalho*/
	background-color: #52BE80;/*Cor de fundo*/
}


.menu-opcoes ul li{/*O menu com as opções*/
	display: inline;
	margin-left: 20px;
	color: 000000;
	background: #FFFFFF;
}

header {
	position: relative;
}


.Documento{
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	width:100%;
    height:100px;
    position: relative;
}



}
